In [1]:
%defaultDatasource jdbc:h2:mem:db

In [2]:
DROP TABLE IF EXISTS DescPoints;

CREATE TABLE DescPoints (
  ctype VARCHAR(2),
  user INT,
  question VARCHAR(22),
  answer VARCHAR(200),
  case VARCHAR(7),
  points DECIMAL(3,1),
  PRIMARY KEY(user, question, case)
);

In [3]:
INSERT INTO DescPoints SELECT 'DF' AS ctype, 61 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Points61.csv') AS DescCSV WHERE question IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO DescPoints SELECT 'DF' AS ctype, 62 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Points62.csv') AS DescCSV WHERE question IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO DescPoints SELECT 'DF' AS ctype, 63 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Points63.csv') AS DescCSV WHERE question IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO DescPoints SELECT 'DF' AS ctype, 64 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Points64.csv') AS DescCSV WHERE question IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO DescPoints SELECT 'DF' AS ctype, 65 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Points65.csv') AS DescCSV WHERE question IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO DescPoints SELECT 'DF' AS ctype, 66 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Points66.csv') AS DescCSV WHERE question IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO DescPoints SELECT 'DF' AS ctype, 67 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Points67.csv') AS DescCSV WHERE question IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO DescPoints SELECT 'DF' AS ctype, 68 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Points68.csv') AS DescCSV WHERE question IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO DescPoints SELECT 'DF' AS ctype, 69 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Points69.csv') AS DescCSV WHERE question IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO DescPoints SELECT 'DF' AS ctype, 70 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Points70.csv') AS DescCSV WHERE question IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO DescPoints SELECT 'DF' AS ctype, 71 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Points71.csv') AS DescCSV WHERE question IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO DescPoints SELECT 'DF' AS ctype, 72 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Points72.csv') AS DescCSV WHERE question IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO DescPoints SELECT 'DF' AS ctype, 73 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Points73.csv') AS DescCSV WHERE question IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO DescPoints SELECT 'DF' AS ctype, 75 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Points75.csv') AS DescCSV WHERE question IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO DescPoints SELECT 'DF' AS ctype, 76 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Points76.csv') AS DescCSV WHERE question IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO DescPoints SELECT 'DF' AS ctype, 77 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Points77.csv') AS DescCSV WHERE question IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO DescPoints SELECT 'DF' AS ctype, 78 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Points78.csv') AS DescCSV WHERE question IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO DescPoints SELECT 'DF' AS ctype, 79 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Points79.csv') AS DescCSV WHERE question IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO DescPoints SELECT 'DF' AS ctype, 80 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Points80.csv') AS DescCSV WHERE question IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO DescPoints SELECT 'DF' AS ctype, 81 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Points81.csv') AS DescCSV WHERE question IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO DescPoints SELECT 'DF' AS ctype, 82 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Points82.csv') AS DescCSV WHERE question IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO DescPoints SELECT 'DF' AS ctype, 83 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Points83.csv') AS DescCSV WHERE question IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO DescPoints SELECT 'DF' AS ctype, 84 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Points84.csv') AS DescCSV WHERE question IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO DescPoints SELECT 'DF' AS ctype, 85 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Points85.csv') AS DescCSV WHERE question IS NOT NULL AND DescCSV.case IS NOT NULL;

In [4]:
ALTER TABLE DescPoints
ALTER COLUMN case RENAME TO casen;

In [5]:
SELECT * FROM DescPoints;

In [6]:
SELECT DISTINCT USER FROM DescPoints;

In [7]:
DROP TABLE IF EXISTS EKGPoints;

CREATE TABLE EKGPoints (
  ctype VARCHAR(2),
  user INT,
  question VARCHAR(22),
  answer VARCHAR(200),
  case VARCHAR(7),
  points DECIMAL(3,1),
  PRIMARY KEY(user, question, case)
);

In [8]:
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 86 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points86.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 88 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points88.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 90 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points90.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 91 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points91.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 92 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points92.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 93 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points93.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 94 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points94.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 95 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points95.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 96 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points96.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 97 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points97.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 98 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points98.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 99 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points99.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 100 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points100.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 101 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points101.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 102 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points102.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 103 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points103.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 104 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points104.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 105 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points105.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 106 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points106.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 107 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points107.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 108 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points108.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 109 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points109.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 110 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points110.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 111 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points111.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 112 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points112.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 113 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points113.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 115 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points115.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO EKGPoints SELECT 'EF' AS ctype, 116 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Points116.csv') AS EKGCSV WHERE question IS NOT NULL AND EKGCSV.case IS NOT NULL;

In [9]:
ALTER TABLE EKGPoints
ALTER COLUMN case RENAME TO casen;

In [10]:
SELECT * FROM EKGPoints;

In [11]:
SELECT DISTINCT USER FROM EKGPoints;

In [12]:
CREATE VIEW CasesPoints AS
SELECT * FROM DescPoints
UNION
SELECT * FROM EKGPoints;

In [13]:
SELECT * FROM CasesPoints;

In [14]:
DROP TABLE IF EXISTS UserCase;

CREATE TABLE UserCase (
  ctype VARCHAR(2),
  user INT,
  casen VARCHAR(7),
  answer_desc VARCHAR(200),
  points_desc DECIMAL(3,1),
  confidence_desc INT,
  time_desc DECIMAL(8,2),
  answer_ekg VARCHAR(200),
  points_ekg DECIMAL(3,1),
  confidence_ekg INT,
  time_ekg DECIMAL(8,2),
  PRIMARY KEY(user, casen)
);

INSERT INTO UserCase
SELECT ctype, user, casen, answer as answer_desc, points as points_desc,
        0 as confidence_desc, 0.0 as time_desc, '' as answer_ekg, 0.0 as points_ekg, 0 as confidence_ekg, 0.0 as time_ekg
FROM CasesPoints
WHERE question = 'Description Hypothesis';

UPDATE UserCase UC
SET confidence_desc = (SELECT CONVERT(CP.answer, INT) FROM CasesPoints CP WHERE CP.user=UC.user AND CP.casen=UC.casen AND CP.question = 'Description Confidence');

UPDATE UserCase UC
SET answer_ekg = (SELECT CP.answer FROM CasesPoints CP WHERE CP.user=UC.user AND CP.casen=UC.casen AND CP.question = 'EKG Hypothesis');

UPDATE UserCase UC
SET points_ekg = (SELECT CP.points FROM CasesPoints CP WHERE CP.user=UC.user AND CP.casen=UC.casen AND CP.question = 'EKG Hypothesis');

UPDATE UserCase UC
SET confidence_ekg = (SELECT CONVERT(CP.answer, INT) FROM CasesPoints CP WHERE CP.user=UC.user AND CP.casen=UC.casen AND CP.question = 'EKG Confidence');

In [15]:
SELECT * FROM UserCase;

In [16]:
DROP TABLE IF EXISTS CasesTime;

CREATE TABLE CasesTime (
  ctype VARCHAR(2),
  user INT,
  cycle VARCHAR(22),
  case VARCHAR(7),
  time DECIMAL(8,2),
  PRIMARY KEY(user, cycle, case)
);

In [17]:
INSERT INTO CasesTime SELECT 'DF' AS ctype, 61 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Time61.csv') AS DescCSV WHERE cycle IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'DF' AS ctype, 62 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Time62.csv') AS DescCSV WHERE cycle IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'DF' AS ctype, 63 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Time63.csv') AS DescCSV WHERE cycle IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'DF' AS ctype, 64 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Time64.csv') AS DescCSV WHERE cycle IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'DF' AS ctype, 65 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Time65.csv') AS DescCSV WHERE cycle IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'DF' AS ctype, 66 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Time66.csv') AS DescCSV WHERE cycle IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'DF' AS ctype, 67 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Time67.csv') AS DescCSV WHERE cycle IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'DF' AS ctype, 68 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Time68.csv') AS DescCSV WHERE cycle IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'DF' AS ctype, 69 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Time69.csv') AS DescCSV WHERE cycle IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'DF' AS ctype, 70 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Time70.csv') AS DescCSV WHERE cycle IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'DF' AS ctype, 71 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Time71.csv') AS DescCSV WHERE cycle IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'DF' AS ctype, 72 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Time72.csv') AS DescCSV WHERE cycle IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'DF' AS ctype, 73 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Time73.csv') AS DescCSV WHERE cycle IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'DF' AS ctype, 75 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Time75.csv') AS DescCSV WHERE cycle IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'DF' AS ctype, 76 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Time76.csv') AS DescCSV WHERE cycle IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'DF' AS ctype, 77 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Time77.csv') AS DescCSV WHERE cycle IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'DF' AS ctype, 78 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Time78.csv') AS DescCSV WHERE cycle IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'DF' AS ctype, 79 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Time79.csv') AS DescCSV WHERE cycle IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'DF' AS ctype, 80 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Time80.csv') AS DescCSV WHERE cycle IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'DF' AS ctype, 81 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Time81.csv') AS DescCSV WHERE cycle IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'DF' AS ctype, 82 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Time82.csv') AS DescCSV WHERE cycle IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'DF' AS ctype, 83 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Time83.csv') AS DescCSV WHERE cycle IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'DF' AS ctype, 84 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Time84.csv') AS DescCSV WHERE cycle IS NOT NULL AND DescCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'DF' AS ctype, 85 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-df/Time85.csv') AS DescCSV WHERE cycle IS NOT NULL AND DescCSV.case IS NOT NULL;

In [18]:
INSERT INTO CasesTime SELECT 'EF' AS ctype, 86 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time86.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'EF' AS ctype, 88 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time88.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'EF' AS ctype, 90 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time90.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'EF' AS ctype, 91 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time91.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'EF' AS ctype, 92 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time92.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'EF' AS ctype, 93 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time93.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'EF' AS ctype, 94 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time94.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'EF' AS ctype, 95 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time95.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'EF' AS ctype, 96 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time96.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'EF' AS ctype, 97 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time97.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'EF' AS ctype, 98 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time98.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'EF' AS ctype, 99 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time99.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'EF' AS ctype, 100 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time100.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'EF' AS ctype, 101 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time101.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'EF' AS ctype, 102 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time102.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'EF' AS ctype, 103 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time103.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'EF' AS ctype, 104 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time104.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'EF' AS ctype, 105 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time105.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'EF' AS ctype, 106 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time106.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'EF' AS ctype, 107 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time107.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'EF' AS ctype, 108 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time108.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'EF' AS ctype, 109 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time109.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'EF' AS ctype, 110 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time110.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'EF' AS ctype, 111 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time111.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'EF' AS ctype, 112 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time112.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'EF' AS ctype, 113 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time113.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'EF' AS ctype, 115 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time115.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;
INSERT INTO CasesTime SELECT 'EF' AS ctype, 116 AS user, * FROM CSVREAD('../../resources/nl-experiment1/transformed-data/group-ef/Time116.csv') AS EKGCSV WHERE cycle IS NOT NULL AND EKGCSV.case IS NOT NULL;

In [19]:
ALTER TABLE CasesTime
ALTER COLUMN case RENAME TO casen;

In [20]:
SELECT * FROM CasesTime;

In [21]:
UPDATE UserCase UC
SET time_desc = (SELECT CT.time FROM CasesTime CT WHERE CT.user=UC.user AND CT.casen=UC.casen AND CT.cycle = 'Description Cycle');

UPDATE UserCase UC
SET time_ekg = (SELECT CT.time FROM CasesTime CT WHERE CT.user=UC.user AND CT.casen=UC.casen AND CT.cycle = 'EKG Cycle');

In [22]:
SELECT * FROM UserCase;

In [23]:
CALL CSVWRITE('../../resources/nl-experiment1/transformed-data/nl-experiment-01.csv', 'SELECT * FROM UserCase ORDER BY user, casen');

592